
	
/* #Layout Styles
================================================== */
	body { 
		background: #e9e9e9;
		padding-top: 20px;
		font-family: "Mako", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 13px;
		line-height: 22px;
	}
	.container{
		background: #fff; 
		color: #555;
		border: 1px solid #dfdfdf;
		border-top-color: #f60;
		outline: 20px solid #f3f3f3;
		margin-top: 100px;
		margin-bottom: 100px;
	}
	

	/*
		Header & Intro
	*/
	
	#header {
		position: relative;
	}
		#header .four.columns {
			height: 20px;
		}
	
		#avatar {
			border: 10px solid #f3f3f3;
			outline: 1px solid #dfdfdf;
			height:	160px;
			width: 160px;
			position: absolute;
			left: 50px;
			bottom: 20px;
		}
		
		
	h1{ 
		text-align: left; 
		padding: 0px;
		font-size: 60px;
		line-height: 38px;
		letter-spacing: 1px;
		margin: 20px 0px 15px;
	}
		h1 small {
			font-size: 50%;
			color: #bbb;
			display: block;
			font-weight: normal;
		}
		
		#info {
			position: absolute;
			top: 22px;
			right: 110px;
			text-align: right;
		}
	
	#intro {}
	
		#intro h2 {
			background-image: url('../images/user_18x24.png');
		}
	
	/*
		Work
	*/
		#work h2{
			background-image: url('../images/lightbulb_15x24.png');
		}
	/*
		Skills
	*/
	
		#skillset h2{
			background-image: url('../images/iphone_18x24.png');
		}
	
		#skillset ul, #elsewhere ul { 
			list-style: none outside;  
			margin: 15px 0px 20px 0px; 
			padding: 0px;
		}
			#skillset ul li { 
				margin-bottom: 30px; 
				border-left: 5px solid #eee;
				padding-left: 10px;
			}
		
	/*
		Work/Content Items
	*/
	
	#experience h2 {
		background-image: url('../images/beaker_alt_12x24.png');
	}
	
	.work { 
		position: relative;
	}
		h3 {
			margin-bottom: 0px; 
			color: #c30;
			font-size:18px;
		
		}
		
			.work h3 em {
				font-weight: normal;
				color: #555;
				font-size: 80%;
			}
			
			.edu h3 {
				color: #099;
			}
		
		.meta_date { 
			font-size: 90%;
			margin-bottom: 15px;
			margin-top: 0px;
			letter-spacing: 2px;
			
		}
		
		.meta_blurb {}
		
		.work .work_flair {
			position: absolute;
			width: 220px;
			left: -220px;
			bottom: 0px;
			height: 120px;
			border: 1px solid red;
			display: none;
		}
		
	/*
		Education
	*/
	
	#education h2 {
		background-image: url('../images/book_24x24.png');
	}
	
	/*
		Elsewhere and colophon
	*/
	
	#elsewhere h2 {
		background-image: url('../images/bolt_24x24.png');
	}
	
		#elsewhere ul li {
			padding-left: 30px;
			margin-bottom: 20px;
			background-position: left center;
			background-repeat: no-repeat;
		}
			li.icon_linkedin { background-image: url('../images/linkedin.png'); }
			li.icon_dribbble { background-image: url('../images/dribbble.png'); }
			li.icon_forrst { background-image: url('../images/forrst_16.png'); }
			li.icon_google { background-image: url('../images/google.png'); }
			li.icon_twitter { background-image: url('../images/twitter.png'); }
			li.icon_github { background-image: url('../images/github.png'); }
			
		#colophon { 
			color: #aaa;
			padding: 25px 0px 15px;
		}
			#colophon a, #colophon a:visited{
				background-color: #eee; color: #666; 
			}
		
	/*
		General styles
	*/
	
	h1,h2{
		font-family: 'Kreon', 'Georgia', Times New Roman, serif;
	}

		
	h2 {
			font-size: 26px; 
			line-height: 26px;
			display: inline-block;
			padding-left: 30px;
			background-position: left center;
			background-repeat: no-repeat;
			margin-bottom: 0px;
	}
	
	.sixteen.columns {
		border-top: 1px solid #e0e0e0;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
		
	a, a:visited {
		color: #000;
		text-decoration: none;
		background: #ff6;
	}
	
	a:hover {
		background-color: #eee;
	}
		
	#resize {
		position: fixed;
		bottom: 0; 
		right: 0;
		display: none;
	}
	
	.colorStrong { color: #c30; }
	

/* Utility classes
================================================== */
.hidden { display: none; }
.side { text-align: right; padding-right: 10px; }

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		h1{
			font-size: 40px;
		}
			h1 small {
			
			}
			
			#avatar {
			left: 25px;
			bottom: 30px;
			width: 140px;
			height: 140px;
		}
		
		#info {
			right: 80px;
		}
	}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) { 
		
		
		
		h1, .side{ 
			text-align: left; 
		}
		
		h1 { 
			font-size: 36px; 
			line-height: 30px;
		}
			h1 small {
				padding-left: 0px;
			}
		
		#info {
			position: static;
			text-align: left;
		}
		
		.work .work_flair {
			display: block;
			visibility: visible;
			position: static;
			opacity: 1 !important;
		}
		
		h2 {
			font-size: 22px;
			display: block;
			background-position: right center;
			padding-left: 0px;
		}
		
		.work h3 em {
			display: block;
		}
		.sixteen.columns {
			padding: 20px 20px 20px 20px;
		}
		
			#skillset ul li { 
				margin-bottom: 20px;
				
				}
		#colophon { padding: 25px 20px 15px; }
		
		.container {
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#avatar {
			left: 280px;
			bottom: 35px;
			width: 100px;
			height: 100px;
		}
		
		h1 {
			margin-top: 0px;
		}
		
		
	}
	
	/* Mobile Portrait Only */
	@media only screen and (max-width: 479px) {
		#avatar {
			display: none;
		}
		#header {
			background: #fff url("../images/avatar_light.jpg")  no-repeat center center; 
			background-size: 100%;
		}
		h1 small {
			color: #999;
		}
		.container{
			margin-top:0px;
			margin-bottom: 0px;
		}
	}
	
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {
		
	}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
