.about
	.about-blurb
		.about-photo
			%img{:src => "/img/me.jpg", :alt => "my face"}/
		%p
			I'm Luke Williams, a polyglot developer from London working at
			%a{:href => "http://www.neonadventures.com/"} Neon Adventures
			in Farringdon.
			%a{:href => "/"} This domain
			has been my online home since 2005, serving as a place to collects my thoughts and theories, and at times a portfolio of my design work.

		%p
			Outside of development, I'm a keen
			%a{:href => "http://www.pitchero.com/clubs/barnetelizabethans"} rugby player,
			%a{:href => "https://www.facebook.com/clock.spiders/"} musician
			and sushi eater.

		%p
			This site was built using Sinatra, header provided by
			%a{:href => "https://github.com/btmills/geopattern"} GeoPattern.

	%ul.about-elsewhere
		%li
			%a{:href => "/cv", :target => "_blank"} CV
		%li
			%a{:href => "http://twitter.com/luke_redroot", :target => "_blank"} Twitter
		%li
			%a{:href => "http://github.com/redroot", :target => "_blank"} Github
		%li
			%a{:href => "http://www.linkedin.com/in/redroot", :target => "_blank"} Linkedin
