- @posts.each_with_index do |post,index|
  %a.post-listed{:href => post.url, :class => (index == 0 ? "first-post" : "")}
    %h2.post-title= post.title
    %small.post-date
      = post.date.strftime("%b %e, %Y")