!!!
%html{:lang => "en"}
  %head
    %title
      = "#{@title} | redroot"

    %link{:href => "http://fonts.googleapis.com/css?family=Bitter:700", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/app.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}
  %body{:class => @body_classes.join(" ")}
    .header#header
      .wrapper
        %nav.nav
          %a{:href => "/about"} About
          %a{:href => "/projects"} Projects
        %h1.logo
          %a{:href => "/", :title => "To Homepage"}
            %span.i r
            %span.ii e
            %span.iii d
            %span.iv r
            %span.v o
            %span.vi o
            %span.vii t
    .content
      .wrapper
        = yield
    .footer
      .wrapper
        %p
          &copy; Luke Williams/redroot 2005-2016
      %script{src: "http://d3js.org/d3.v3.min.js"}
      %script{src: "/js/geopattern.js"}
      %script{src: "/js/app.js"}
