.single-post
	%h1.post-title
		= @post.title
		%small.post-date= @post.date.strftime("%b %e, %Y")

	.post-content
		= @post.content

	.post-comments
		#disqus_thread
		:javascript
			var disqus_shortname = 'redrootcom'; // required: replace example with your forum shortname
			(function() {
			    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();

		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
