.projects
	%p This page contains various open-source projects (of varying utility) as well as presentations I have made at meetups.

	.projects-list
		%a.project-listed{:href => "/sandbox/holmes"} 
			%h4 Holmes CSS
			%p Holmes is stand-alone diagnostic CSS stylesheet that can highlight potentially invalid, inaccessible or erroneous HTML(5) markup by adding one class.

		%a.project-listed{:href => "https://github.com/redroot/tabbit"}
			%h4 Tabbit
			%p Tabbit is a ruby gem which parses guitar tabs into musical notes, and provides an interface to play them

	.presentations
		%h3 Presentations
		
		.presentation
			<script async class="speakerdeck-embed" data-id="2b88a1605ead0130d46822000a8f8965" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
		.presentation
			<script async class="speakerdeck-embed" data-id="06ff7d4042e70131b5a87e4dc8eaae0a" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
