@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format("woff"); }

.single-post .post-title {
  font-size: 32px;
  margin: 0px 0 20px;
  border-bottom: 1px solid #ddd;
  padding: 5px 0 10px;
  line-height: 1.2em;
  font-weight: normal;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif; }
  @media only screen and (max-width: 720px) {
    .single-post .post-title {
      font-size: 20px; } }
.single-post .post-date {
  color: #fc363e;
  font-size: 14px;
  font-weight: normal;
  display: block;
  font-style: italic;
  margin-top: 5px; }
.single-post .post-comments {
  border-top: 1px solid #f0f0f0;
  margin-top: 20px;
  padding-top: 20px; }
.single-post strong {
  font-weight: bold; }
.single-post em {
  text-variant: italic; }

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }
  pre code {
    display: block;
    padding: 0;
    color: #333;
    border: none;
    background: none; }

code {
  display: inline-block;
  padding: 0px 4px;
  line-height: 1.3em;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }

code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }

.projects-list {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both; }
  .projects-list:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

.project-listed {
  display: block;
  padding: 8px 12px;
  width: 48%;
  border: 5px solid #f0f0f0;
  text-decoration: none;
  float: left;
  min-height: 140px; }
  .project-listed h4 {
    margin: 0 0 14px 0;
    font-size: 18px;
    color: #000; }
  .project-listed p {
    color: #666;
    font-size: 13px;
    line-height: 20px; }
  .project-listed:hover {
    border-color: #ddd; }
  .project-listed:nth-child(even) {
    float: right; }

.presentations {
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
  margin-top: 30px; }
  .presentations:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  .presentations h3 {
    margin: 0 0 20px 0; }

.presentation {
  float: left;
  width: 48%; }
  .presentation:nth-child(even) {
    float: right; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  font-size: 14px;
  line-height: 1.8em;
  padding: 0px;
  margin: 0px;
  text-align: center; }

.wrapper {
  margin: 0px auto;
  text-align: left;
  max-width: 720px; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  @media only screen and (max-width: 720px) {
    .wrapper {
      max-width: 100%;
      padding: 0px 10px; } }

a {
  color: #fc363e; }

.header {
  margin-bottom: 20px;
  background: #011425;
  padding: 120px 0px 120px;
  position: relative;
  border-bottom: 5px solid #ddd; }
  .header:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  @media only screen and (max-width: 720px) {
    .header {
      max-width: 100%;
      padding: 20px 10px; } }

.logo {
  color: #fff;
  font-family: 'Bitter', 'Rockwell', serif;
  text-decoration: none;
  margin: 0;
  display: inline-block;
  font-size: 24px;
  line-height: 24px; }
  .logo span {
    display: inline-block;
    transition: color 0.3s linear;
    margin-left: -4px; }
    .logo span.i {
      margin-left: 0px; }
  .logo a {
    color: #fc363e;
    display: inline-block;
    text-decoration: none; }
    .logo a .i {
      color: #fc363e; }
    .logo a .ii {
      color: #fc543e; }
    .logo a .iii {
      color: #fc633e; }
    .logo a .iv {
      color: #fc723e; }
    .logo a .v {
      color: #fc813e; }
    .logo a .vi {
      color: #fc903e; }
    .logo a .vii {
      color: #fc9f3e; }
    .logo a:hover .i, .logo a:hover .ii, .logo a:hover .iii {
      color: #fc363e; }
    .logo a:hover .iv, .logo a:hover .v, .logo a:hover .vi, .logo a:hover .vii {
      color: #fff; }

.nav {
  float: right;
  margin-top: 3px; }

.nav a {
  display: inline-block;
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  line-height: 1em;
  margin-left: 20px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif; }
  .nav a:active {
    color: #f60; }
  .nav a:visited {
    color: #eee; }
  .nav a:hover {
    color: #fff;
    text-decoration: underline; }
  @media only screen and (max-width: 720px) {
    .nav a {
      font-size: 12px;
      margin-left: 15px; } }

.posts {
  list-style: none;
  margin: 0;
  padding: 0; }
  .posts li {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px; }

.post-listed {
  padding: 15px 0px 15px 0px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
  overflow: hidden; }
  .post-listed .post-title {
    font-size: 1.2em;
    color: #555;
    margin: 0 0 0.2em 0;
    float: left;
    font-weight: normal;
    font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif; }
  .post-listed .post-date {
    color: #999;
    float: right;
    font-weight: bold;
    font-family: 'Helvetica Neue', 'Arial', sans-serif; }
  .post-listed:hover {
    border-bottom-color: #f60; }
    .post-listed:hover .post-title {
      color: #111; }

.footer {
  color: #aaa;
  font-size: 12px;
  padding: 20px 0px; }

.red {
  color: #fc363e; }

.about a, .single-post a {
  color: #fc363e;
  text-decoration: none; }
  .about a:hover, .single-post a:hover {
    color: #f60;
    text-decoration: underline; }

.about-elsewhere {
  list-style: none;
  margin: 0;
  padding: 0; }
  .about-elsewhere li {
    display: inline-block;
    margin-right: 6px;
    padding: 0 8px 0 0;
    border-right: 1px solid #ddd;
    line-height: 1em; }
    .about-elsewhere li:last-child {
      border-right: none; }

.about-photo {
  float: right;
  margin-left: 25px;
  position: relative;
  height: 200px; }
  .about-photo img {
    display: block;
    border: 5px solid #ddd; }
