*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background: $light-bg;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $light-font;
  font-size: 14px;
  line-height: 1.8em;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.wrapper {
  margin: 0px auto;
  text-align: left;
  max-width: 720px;

  &:after {
    content: " ";
    display: block;
    clear: both;
  }

  @include respond-to(mobile) {
    max-width: 100%;
    padding: 0px 10px;
  }
}

a {
  color: $red;
}

.header {
  margin-bottom: 20px;
  background: #011425;
  padding: 120px 0px 120px;
  position: relative;
  border-bottom: 5px solid #ddd;
  @include clearfix;

  @include respond-to(mobile) {
    max-width: 100%;
    padding: 20px 10px;
  }
}

.logo {
  color: #fff;
  font-family: 'Bitter', 'Rockwell', serif;
  text-decoration: none;
  margin: 0;
  display: inline-block;
  font-size: 24px;
  line-height: 24px;

  span {
    display: inline-block;
    transition: color 0.3s linear;
    margin-left: -4px;

    &.i {
      margin-left: 0px;
    }
  }

  a {
    color: $red;
    display: inline-block;
    text-decoration: none;

    .i   { color: $red; }
    .ii  { color: adjust-color($red, $green: +30); }
    .iii { color: adjust-color($red, $green: +45); }
    .iv  { color: adjust-color($red, $green: +60); }
    .v   { color: adjust-color($red, $green: +75); }
    .vi  { color: adjust-color($red, $green: +90); }
    .vii { color: adjust-color($red, $green: +105); }

    &:hover {
      .i, .ii, .iii {
        color: $red;
      }
      .iv,.v, .vi, .vii {
        color: #fff;
      }
    }
  }
}

.nav {
  float: right;
  margin-top: 3px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  line-height: 1em;
  margin-left: 20px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;

  &:active {
    color: #f60;
  }

  &:visited {
    color: #eee;
  }

  &:hover {
    color: #fff;
    text-decoration: underline;
  }

  @include respond-to(mobile) {
    font-size: 12px;
    margin-left: 15px;
  }
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }
}

.post-listed {
  padding: 15px 0px 15px 0px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
  overflow: hidden;

  .post-title {
    font-size: 1.2em;
    color: #555;
    margin: 0 0 0.2em 0;
    float: left;
    font-weight: normal;
    font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  }

  .post-date {
    color: #999;
    float: right;
    font-weight: bold;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
  }

  &:hover {
    border-bottom-color: #f60;

    .post-title {
      color: #111;
    }
  }

}

.footer {
  color: #aaa;
  font-size: 12px;
  padding: 20px 0px;
}


.red { color: $red; }

.about, .single-post {
  a {
    color: $red;
    text-decoration: none;
    &:hover {
      color: #f60;
      text-decoration: underline;
    }
  }
}


.about-elsewhere {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 6px;
    padding: 0 8px 0 0;
    border-right: 1px solid #ddd;
    line-height: 1em;
    &:last-child {
      border-right: none;
    }
  }
}

.about-photo {
  float: right;
  margin-left: 25px;
  position: relative;
  height: 200px;

  img {
    display: block;
    border: 5px solid #ddd;
  }
}
