@mixin clearfix {
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}


@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
     -moz-box-shadow: $top $left $blur $color #{$inset};
          box-shadow: $top $left $blur $color #{$inset};
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
   -khtml-border-radius: $radius;
          border-radius: $radius;
}

@mixin respond-to($media) {
  @if $media == mobile-portrait {
    @media only screen and (max-width: 479px) { @content; }
  }@else if $media == mobile-landscape {
    @media only screen and (min-width: 480px) and (max-width: 720px) { @content; }
  }@else if $media == mobile {
    @media only screen and (max-width: 720px) { @content; }
  }@else if $media == tablet {
    @media only screen and (min-width: 721px) and (max-width: 979px) { @content; }
  }@else if $media == tablet-down {
    @media only screen and (max-width: 979px) { @content; }
  }@else if $media == tablet-up {
    @media only screen and (min-width: 721px) { @content; }
  }@else if $media == wide {
    @media only screen and (min-width: 980px) { @content; }
  }
}