.single-post {
	.post-title {
		font-size: 32px;
		margin: 0px 0 20px;
		border-bottom: 1px solid #ddd;
		padding: 5px 0 10px;
		line-height: 1.2em;
		font-weight: normal;
		font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;

		@include respond-to(mobile) {
			font-size: 20px;
		}
	}

	.post-date {
		color: $red;
		font-size: 14px;
		font-weight: normal;
		display: block;
		font-style: italic;
		margin-top: 5px;
	}

	.post-comments {
		border-top: 1px solid #f0f0f0;
		margin-top: 20px;
		padding-top: 20px;
	}

	strong {
		font-weight: bold;
	}

	em {
		text-variant: italic;
	}

}

pre {
	display: block;
	padding: 9.5px;
	margin: 10px 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;

	code {
		display: block;
		padding: 0;
		color: #333;
		border: none;
		background: none;
	}
}

code {
	display: inline-block;
	padding: 0px 4px;
	line-height: 1.3em;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

code, kbd, pre, samp {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}