.projects-list {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
	@include clearfix;
}

.project-listed {
	display: block;
	padding: 8px 12px; 
	width: 48%;
	border: 5px solid #f0f0f0;
	text-decoration: none;
	float: left;
	min-height: 140px;

	h4 {
		margin: 0 0 14px 0;
		font-size: 18px;
		color: #000;
	}

	p {
		color: #666;
		font-size: 13px;
		line-height: 20px;
	}

	&:hover {
		border-color: #ddd;
	}

	&:nth-child(even) {
		float: right;
	}
}

.presentations {
	border-top: 1px solid #f0f0f0;
	padding-top: 20px;
	margin-top: 30px;
	@include clearfix;

	h3 {
		margin: 0 0 20px 0;
	}
}

.presentation {
	float: left;
	width: 48%;

	&:nth-child(even) {
		float: right;
	}
}